doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    include partials/appName
  body
    .background
      .container 프로필
