doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    include partials/appName
  body
    div(class="background")
      div(class="container") 프로필
