doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/success.css")
    include partials/appName
  body
    div(class="background")
      div(class="container")
        h1(class="successHeader") Create Vote!
        h3(class="successSubHeader") 너님의 <br> 투표만들기에 성공했습니다
        section(class="successBox")
          a(href="/")
            button(class="goToMainBtn" type="button") 지금 투표하러 가기
          p(class="goToMainBtnText") 메인페이지에서 이런이런이런투표를 확인할 수 있습니다.
