.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.email,
.password {
  height: 40px;
  width: 360px;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  outline: none;
  border: 0;
  border-bottom: 3px solid #FFFFFF70;
  background-color: transparent;
  color: white;
}

.password {
  margin-bottom: 40px;
}

.email::placeholder,
.password::placeholder {
  font-size: 18px;
  color: #FFFFFF70;
}

.message {
  height: 40px;
  padding: 10px;
}

.loginForm {
  margin-top: 60px;
}

.login,
.signUp {
  width: 360px;
  height: 50px;
  margin-bottom: 20px;
  outline: 0;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
}

.login:hover,
.signUp:hover {
  border: 0;
  background-color: #FFFFFF30;
}
