.votingSection {
  height: 500px;
  overflow-y: scroll;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 30px 50px;
  line-height: 30px;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
  color: white;
}

.mainSubTitle {
  margin: 0 0 20px 0;
  color: white;
}

.myVotingBtn,
.newVotingBtn,
.ongoingVoteBtn,
.finishedVoteBtn {
  background-color: transparent;
}

.myVotingBtn,
.newVotingBtn {
  box-shadow: none;
  line-height: 30px;
  font-size: 30px;
  transition: transform 100ms ease-in;
}

.ongoingVoteBtn,
.finishedVoteBtn {
  width: 90px;
  margin: 0 5px 20px 5px;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 10px;
  background-color: white;
  color: #00A1DF;
  transition: transform 100ms ease-in;
}

.ongoingVoteBtn:hover,
.finishedVoteBtn:hover {
  transform: scale(1.05);
}

.votingSection {
  overflow: auto;
}

.votingContainer {
  width: 400px;
  height: 50px;
  margin: 0 auto 10px auto;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #FFFFFF50;
  box-shadow: 0px 1px 5px 3px rgb(0 0 0 / 10%);
  transition: transform 100ms ease-in;
}

.myVotingBtn:hover,
.newVotingBtn:hover,
.votingContainer:hover {
  transform: scaleX(1.05);
}

.votingInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votingInfo,
.votingTitle {
  width: 360px;
  padding: 0 10px 10px 20px;
  color: #00A1DF;
}

.votingInfo:hover,
.votingTitle:hover {
  color: white;
}

.votingTitle {
  margin: 0;
  font-weight: 800;
  font-style: italic;
}

.backToMainBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  bottom: 0;
  width: 350px;
  height: 45px;
  margin: 100px 0 20px 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #FFFFFF70;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  transform: translate(-50%, -50%);
}
