.newVotingMessage {
  height: 20px;
  padding: 10px;
  font-size: 14px;
  color: #be0a0a9d;
}

.newVotingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expiredAt {
  width: 360px;
  height: 40px;
  margin-top: 20px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #FFFFFF70;
  text-align: center;
  background-color: transparent;
  color: white;
}

.votingTitle {
  width: 360px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: 0;
  border-bottom: 3px solid #FFFFFF70;
  background-color: transparent;
  color: white;
}

.expiredAtText,
.votingTitleText {
  padding-top: 10px;
  font-size: 12px;
  color: #FFFFFF;
}

.votingTitle::placeholder {
  font-size: 18px;
  color: #FFFFFF70;
}

.optionRow {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  margin: 10px 0;
}

.option {
  width: 400px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 14px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: #FFFFFF40;
  color: white;
}

.removeOptionBtn,
.addOptionBtn,
.createVotingBtn {
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  background-color: #FFFFFF70;
}

.removeOptionBtn {
  display: block;
  width: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addOptionBtn,
.createVotingBtn {
  width: 160px;
  color: white;
}

.addOptionBtn {
  margin-right: 20px;
}

.addOptionMessage {
  height: 20px;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.goToMainBtn {
  width: 360px;
  height: 50px;
  margin: 20px 0 20px 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
}

.goToMainBtn:hover {
  border: 0;
  background-color: #FFFFFF30;
}

.backToMainBtn {
  position: absolute;
  top: 76%;
  left: 50%;
  bottom: 0;
  width: 350px;
  height: 45px;
  margin: 100px 0 20px 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #FFFFFF70;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  transform: translate(-50%, -50%);
}
