.newVotingMessage {
  height: 20px;
  padding: 10px;
  font-size: 14px;
  color: #be0a0a9d;
}

.newVotingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 560px;
  text-align: center;
}

.expiredAt {
  width: 360px;
  height: 40px;
  margin-top: 20px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #FFFFFF90;
  text-align: center;
  background-color: transparent;
  color: white;
}

.votingTitle {
  width: 360px;
  height: 40px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #FFFFFF90;
  background-color: transparent;
  color: white;
}

.expiredAtText,
.votingTitleText {
  padding-top: 10px;
  font-size: 12px;
  color: #FFFFFF;
}

.votingTitle::placeholder {
  font-size: 18px;
  color: #FFFFFF70;
}

.optionRow {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  margin: 10px 0;
}

.option {
  width: 400px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 14px;
  outline: 0;
  border: 0;
  border-radius: 20px;
  background-color: #FFFFFF40;
  color: white;
}

.addOptionBtn,
.createVotingBtn {
  width: 160px;
  height: 40px;
  font-weight: 800;
  line-height: 40px;
  border-radius: 20px;
  background-color: #FFFFFF90;
  color: #00A1DF;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addOptionBtn {
  margin-right: 20px;
}

.addOptionBtn:hover,
.createVotingBtn:hover {
  font-style: italic;
  transform: scale(1.1);
  background-color: #00A1DF;
  color: white;
}

.addOptionMessage {
  height: 20px;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.backToMainBtn {
  width: 350px;
  height: 45px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #FFFFFF70;
  border-radius: 30px;
  background-color: transparent;
  color: white;
}

.backToMainBtn:hover {
  border: 0;
  background-color: #FFFFFF30;
}
