.selectedVotingComment {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: white;
}

.selectedVotingContainer {
  width: 400px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: 0;
  background-color: transparent;
  color: white;
}

.selectedVotingTitle {
  margin: 30px auto 10px auto;
  padding: 10px;
  border-bottom: 2px solid #FFFFFF70;
  color: #00A1DF;
}

.selectedVotingExpiredAtText {
  height: 30px;
  margin: 0 auto 10px auto;
  font-size: 14px;
}

.selectedVotingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.votingOptionBtn,
.votedOptionBtn {
  position: relative;
  width: 360px;
  margin: 10px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  background-color: #FFFFFF40;
  color: white;
  transition: transform 100ms ease-in;
}

.votedOptionBtn {
  cursor: not-allowed;
  background-color: lightgray;
}

.votingOptionBtn:hover {
  transform: scale(1.1);
  background-color: #FFFFFF70;
  font-weight: 800;
  color: #00A1DF;
}

.votingCount {
  position: absolute;
  top: 7px;
  right: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  background-color: #00A1DF;
  color: white;
}

.backToVotingListBtn,
.removeVoteBtn {
  width: 360px;
  height: 40px;
  margin: 10px 0 10px 0;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  transition: transform 100ms ease-in;
}

.backToVotingListBtn:hover,
.removeVoteBtn:hover {
  border: 0;
  background-color: white;
  color: #00A1DF;
  transform: scaleY(1.1);
}

.selected {
  font-weight: 800;
  background-color: white;
  color: #00A1DF;
}
