@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #ffffff 0%, #04c0feb0 100%);
}

.container {
  width: 500px;
  height: 700px;
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
  background-color: #04c0feb0;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.appHeader {
  margin: 0;
  padding-top: 100px;
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  color: white;
}

.subHeader {
  margin-top: 40px;
  font-size: 20px;
  color: #FFFFFF60;
}
